APP_NAME="GX App"
DOMAIN=localhost
PORT=5050
USE_SSL=false

SERVICE=<service-name>
VERSION=<version>

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=storage

DB_RABBITMQ_HOST=127.0.0.1
DB_RABBITMQ_PORT=3306
DB_RABBITMQ_USERNAME=root
DB_RABBITMQ_PASSWORD=root
DB_RABBITMQ_DATABASE=storage

RABBITMQ_QUEUE=<your-queue-name>
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=root
RABBITMQ_PASSWORD=root

MAIL_HOST=null
MAIL_PORT=null
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

LOG_DAYS=

STORAGE_DIR=storages
STORAGE_GATEWAY_BASE=http://localhost:8000/link

REDIS_HOST=localhost
REDIS_PORT=6379

API_GATEWAY_LINK_URL="http://localhost:8080/api/link/${VERSION}/${SERVICE}/storages/"
