DOMAIN=localhost
PORT=5050
USE_SSL=false

SERVICE=<service-name>
VERSION=<version>

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=storage

LOG_DAYS=

STORAGE_DIR=storages
STORAGE_PATH=link
STORAGE_GATEWAY_BASE=https://storage.globalxtreme-gateway.net/

REDIS_HOST=localhost
REDIS_PORT=6379
